<div class="card mg-superior">
    <div class="card-body">
      <h4 class="card-title text-center">Educación</h4>
      
      <!-- Button para Agregar Educacion -->
      <div class="text-center">
        <button *ngIf="autentic.logueado" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#educacionModal" (click)="cambiarEsNuevo()" >
          Agregar Educación
        </button>
      </div>
      

      <div class="container p-2">
        <div *ngFor="let educacion of listaEducacion" class="row p-2 m-2 border">
          <img [src]="educacion.urlImagen" alt="Logo Institucion" class="col-1 img-fluid">
          <div class="col-10 ">
            <h5>{{educacion.institucion}}</h5>
            <div>{{educacion.titulo}}</div>
            <span class="text-secondary">{{educacion.anioInicio}} - {{educacion.anioFin}}</span>
          </div>
          <div class="col-1">
            <!--Boton editar forma de Lapiz - Solo aparece si esta logueado-->
            <button *ngIf="autentic.logueado" type="button" class="btn col-1" data-bs-toggle="modal" data-bs-target="#educacionModal" (click)="editarEducacion(educacion)">
              
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                </svg>
              
            </button>
            <!--Boton eliminar forma de tacho de basura - Solo aparece si esta logueado-->
            <button *ngIf="autentic.logueado" type="button" class="btn col-1 " (click)="eliminarEducacion(educacion.id)">
              
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
              
            </button>
          </div>  
              
             
        </div>
      </div>
      
      
    </div>
</div>


<!-- Modal para Educacion-->



<!-- Modal AGREGAR Educacion-->
<div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="educacionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="educacionModalLabel" *ngIf="esNuevo">Agregar Educación</h5>
        <h5 class="modal-title" id="educacionModalLabel" *ngIf="!esNuevo">Editar Educación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <!--Cuerpo del modal con datos-->

      <!--Formulario Agregar Educacion-->
      <div class="modal-body">
        <form [formGroup]="altaEducacion">
          <div class="mb-3 form-group">
            <label for="titulo" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="titulo" placeholder="Ingrese titulo obtenido" formControlName="titulo">
            
          </div>
          <div class="mb-3 form-group">
            <label for="institucion" class="form-label">Institucion</label>
            <input type="text" formControlName="institucion"  class="form-control" id="institucion" placeholder="Ingrese institucion" >
            
          </div>
          <div class="mb-3 form-group">
            <label for="anioInicio" class="form-label">Año Inicio</label>
            <input type="text" class="form-control" id="anioInicio" placeholder="Año de Inicio" formControlName="anioInicio">
          </div>
          <div class="mb-3 form-group">
            <label for="anioFin" class="form-label">Año Finalización</label>
            <input type="text" class="form-control" id="anioFin" placeholder="Año de finalización" formControlName="anioFin">
          </div>
          <div class="mb-3 form-group">
            <label for="detalle" class="form-label">Detalle</label>
            <textarea class="form-control" id="detalle" rows="3" formControlName="detalle"></textarea>
          </div>
          <div class="mb-3 form-group">
            <label for="urlImagen" class="form-label">Url de imagen</label>
            <input type="text" class="form-control" id="urlImagen" placeholder="Cargar direccion de imagen o logo" formControlName="urlImagen">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cerrar</button>
        <button *ngIf="esNuevo" type="button" class="btn btn-primary" (click)="agregarEducacionCargada()">Guardar</button>
        <button *ngIf="!esNuevo" type="button" class="btn btn-primary" (click)="modificarEducacionCargada()" >Editar</button>
      </div>
    </div>
  </div>
</div>



