<div class="card border rounded-2 mb-5 mg-superior" >
  <!--Imagen de fondo-->
  <img src="https://placeimg.com/1200/480/tech" class="w-100 " alt="...">
  
  <div class="container-fluid">
    <div class="row">
      <!--Izquierda-->
      <div class="col-12 col-md-6">
        
        <div class="card-body text-center text-md-start"> 
          
          <div>
            <!--Foto de perfil-->
            <img widht="200" [src]="miPortfolio.urlImagen" 
            class="rounded-pill border border-2 position-relative top-0 start-50 translate-middle" height="200" alt="Foto personal">

            <!--Boton para editar-->
            <button type="button" class="btn">
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                </svg>
              </a>
            </button>
          </div>
          
          <div class="col-12 d-flex flex-column ">
            <h3 class="card-title">{{miPortfolio.nombre}} {{miPortfolio.apellido}}</h3>
            <h6 class="card-text">{{miPortfolio.ocupacion}}</h6>
    
              
          </div>
            
          <a href="#" class="btn btn-primary">Añadir Seccion</a>
        </div>
      </div>
      
      <!--Derecha-->
      <div class="col-12  col-md-6 text-center text-md end d-flex justify-content-center justify-content-md-end">
        <div class="d-flex flex-column justify-content-evenly">
          <!--
          <span>
            <a href="#" class="text-decoration-none text-dark">
              <img [src]="miPortfolio.educacion[1].urlImagen" 
               style="max-width:50px" alt="Logo argentina programa">
              <h6 >{{miPortfolio.educacion[1].institucion}}</h6>
            </a>
            
          </span>
       
          
        <span>
            <a href="#" class="text-decoration-none text-dark">
              <img [src]="miPortfolio.educacion[0].urlImagen" 
               style="max-width: 50px;" alt="">
              <h6 >{{miPortfolio.educacion[0].institucion}}</h6>
            </a>
            
          </span>

           -->
        </div>

      </div>
     
  
    </div>
    
    
 
  </div>

</div>
 
   

   